<script>
  import Header from "./components/Header.svelte";
  import Input from "./components/Input.svelte";
  import Stickers from "./components/Stickers.svelte";
  import Person from "./components/Person.svelte";
  import Loader from "./components/Loader.svelte";
  import Sharing from "./components/Sharing.svelte";
  import { person, innerHeight, textState } from "store";
  import { TYPING, LOADING, SHARING } from "store/constants";
</script>

<div class="text" style={`height:${$innerHeight}px`}>

  <Header />
  <Person />

  {#if $textState === TYPING}
    <div class="input">
      <Input />
      <Stickers />
    </div>
  {:else if $textState === LOADING}
    <Loader />
  {:else if $textState === SHARING}
    <Sharing />
  {/if}
</div>

<style>
  .text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: linear-gradient(
        0deg,
        rgba(255, 207, 93, 0.05),
        rgba(255, 207, 93, 0.05)
      ),
      #ffffff;
  }
  .input {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
</style>
