html, body {
	/* position: relative;
	width: 100%;
	height: 100%; */
}

body {
	font-family: 'Styrene A Web';
	margin: 0;
	padding: 0px;
	/* box-sizing: border-box; */
}



label {
	display: block;
}

input:disabled {
	color: #ccc;
}

button {
    font-family: 'Styrene A Web';
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Italic.eot');
    src: local('Styrene A Web Italic'), local('StyreneAWeb-Italic'),
        url('font/StyreneAWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Italic.woff2') format('woff2'),
        url('font/StyreneAWeb-Italic.woff') format('woff'),
        url('font/StyreneAWeb-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-LightItalic.eot');
    src: local('Styrene A Web Light Italic'), local('StyreneAWeb-LightItalic'),
        url('font/StyreneAWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-LightItalic.woff2') format('woff2'),
        url('font/StyreneAWeb-LightItalic.woff') format('woff'),
        url('font/StyreneAWeb-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Thin.eot');
    src: local('Styrene A Web Thin'), local('StyreneAWeb-Thin'),
        url('font/StyreneAWeb-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Thin.woff2') format('woff2'),
        url('font/StyreneAWeb-Thin.woff') format('woff'),
        url('font/StyreneAWeb-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-BoldItalic.eot');
    src: local('Styrene A Web Bold Italic'), local('StyreneAWeb-BoldItalic'),
        url('font/StyreneAWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-BoldItalic.woff2') format('woff2'),
        url('font/StyreneAWeb-BoldItalic.woff') format('woff'),
        url('font/StyreneAWeb-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-BlackItalic.eot');
    src: local('Styrene A Web Black Italic'), local('StyreneAWeb-BlackItalic'),
        url('font/StyreneAWeb-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-BlackItalic.woff2') format('woff2'),
        url('font/StyreneAWeb-BlackItalic.woff') format('woff'),
        url('font/StyreneAWeb-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Regular.eot');
    src: local('Styrene A Web Regular'), local('StyreneAWeb-Regular'),
        url('font/StyreneAWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Regular.woff2') format('woff2'),
        url('font/StyreneAWeb-Regular.woff') format('woff'),
        url('font/StyreneAWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Black.eot');
    src: local('Styrene A Web Black'), local('StyreneAWeb-Black'),
        url('font/StyreneAWeb-Black.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Black.woff2') format('woff2'),
        url('font/StyreneAWeb-Black.woff') format('woff'),
        url('font/StyreneAWeb-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Medium.eot');
    src: local('Styrene A Web Medium'), local('StyreneAWeb-Medium'),
        url('font/StyreneAWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Medium.woff2') format('woff2'),
        url('font/StyreneAWeb-Medium.woff') format('woff'),
        url('font/StyreneAWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-ThinItalic.eot');
    src: local('Styrene A Web Thin Italic'), local('StyreneAWeb-ThinItalic'),
        url('font/StyreneAWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-ThinItalic.woff2') format('woff2'),
        url('font/StyreneAWeb-ThinItalic.woff') format('woff'),
        url('font/StyreneAWeb-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Bold.eot');
    src: local('Styrene A Web Bold'), local('StyreneAWeb-Bold'),
        url('font/StyreneAWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Bold.woff2') format('woff2'),
        url('font/StyreneAWeb-Bold.woff') format('woff'),
        url('font/StyreneAWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-Light.eot');
    src: local('Styrene A Web Light'), local('StyreneAWeb-Light'),
        url('font/StyreneAWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-Light.woff2') format('woff2'),
        url('font/StyreneAWeb-Light.woff') format('woff'),
        url('font/StyreneAWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene A Web';
    src: url('font/StyreneAWeb-MediumItalic.eot');
    src: local('Styrene A Web Medium Italic'), local('StyreneAWeb-MediumItalic'),
        url('font/StyreneAWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('font/StyreneAWeb-MediumItalic.woff2') format('woff2'),
        url('font/StyreneAWeb-MediumItalic.woff') format('woff'),
        url('font/StyreneAWeb-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

