<script>
  import Selector from "./components/Selector.svelte";
  import Slider from "./components/Slider.svelte";
  import { view } from "store";
  import { TEXT } from "store/constants";
</script>

<div class="selectPerson">
  <div class="container">
    <h1>Выбери персонажа</h1>
    <Selector />
  </div>
  <div class='slider'>
  <Slider />
</div>
  <div class="container">
    <button class="selectButton" on:click={() => view.set(TEXT)}>
      выбрать
    </button>
  </div>
</div>

<style>
  .slider{
    flex-grow: 1;
  }
  .container {
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
  }
  .selectPerson {
    background: #fffcf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .selectButton {
    background: #ff644e;
    box-shadow: 0px 0px 50px rgba(255, 100, 78, 0.25);
    border-radius: 100px;
    border: none;
    width: 100%;
    max-width: 360px;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
  }
</style>
