<script>
  import ArrowLeft from "assets/ArrowLeft.svelte";
  import { view } from "store";
</script>

<div class='header'>
  <button class="back" on:click={view.selectPerson}>
    <ArrowLeft />
  </button>
</div>

<style>
    .header{
      padding: 24px 24px 16px 24px;
    }
  .back {
    background: none;
    outline: none;
    border: none;
  }
</style>
