
<div class='icon' on:click>
    <slot/>
</div>

<style>
    .icon{
        min-width: 36px;
        min-height: 36px;
        background: #FF644E;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>