<script>
  import { person, contentNode, isStickersOpen, innerHeight, sendText, view } from "store";
  import Send from "assets/Send.svelte";
  import Sticker from "assets/Sticker.svelte";

  let html;
  const scroll = () => window.scrollTo(0, 0);
  const onBlur = () => {
    setTimeout(() => {
      $innerHeight = window.innerHeight;
      scroll();
    }, 200);
  };
  const onFocus = () => {
    isStickersOpen.close();
    setTimeout(() => {
      $innerHeight = window.innerHeight;
      scroll();
    }, 200);
  };
</script>

<div class="container">
  <div class="avatar" on:click={view.selectPerson}>
    <div class="circle" />
    <img
      src={`./images/persons/${$person.image}`}
      alt={$person.name}
      class="personImage" />

  </div>
  <div class="inputContainer">
    <div
      on:focus={onFocus}
      on:blur={onBlur}
      class="content"
      contenteditable="true"
      bind:innerHTML={html}
      bind:this={$contentNode}>
    </div>
    <div class='sticker' on:click={isStickersOpen.open}>
      <Sticker />
    </div>
  </div>
  <button class="sendButton" on:click={sendText}>
    <Send />
  </button>
</div>

<style>
  .sticker{
    margin-left: 8px;
  }
  .container {
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .avatar {
    position: relative;
    min-width: 50px;
  }
  .personImage {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle {
    width: 32px;
    height: 32px;
    background: #b299f5;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inputContainer {
    overflow: hidden;
    border: 2px solid #e0dcd2;
    box-sizing: border-box;
    border-radius: 100px;
    flex-grow: 1;
    height: 48px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    overflow: scroll;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  .content::-webkit-scrollbar {
  display: none;
}
  .content:focus {
    outline: none;
  }
  .content :global(img) {
    height: 22px;
  }
  .sendButton {
    margin-left: 8px;
    background: #ff644e;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 50px rgba(255, 100, 78, 0.25);
    outline: none;
    min-width: 46px;
    max-width: 46px;
    min-height: 46px;
    max-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
