<script>
  import { fly, fade } from "svelte/transition";
  import { onMount } from "svelte";
  import {showShare} from 'store'
  const texts = [
    "рисуем персонажа",
    "озвучиваем",
    "создаем анимацию",
    "собираем видео",
  ];
  let currentEl = -1;

  const next = () => {
    currentEl = currentEl + 1;
    if (currentEl === texts.length) showShare()
  };
  onMount(() => {
    currentEl = 0;
  });
</script>

{#if currentEl === 0}
  <div
    class="text"
    in:fly|local={{ duration: 1500, y: 200 }}
    out:fade={{duration: 200}}
    on:introend={next}>
    {texts[currentEl]}
  </div>
{:else if currentEl === 1}
  <div
    class="text"
    in:fly|local={{ duration: 1500, y: 200 }}
    out:fade={{duration: 200}}
    on:introend={next}>
    {texts[currentEl]}
  </div>
  {:else if currentEl === 2}
  <div
    class="text"
    in:fly|local={{ duration: 1500, y: 200 }}
    out:fade={{duration: 200}}
    on:introend={next}>
    {texts[currentEl]}
  </div>
  {:else if currentEl === 3}
  <div
    class="text"
    in:fly|local={{ duration: 1500, y: 200 }}
    out:fade={{duration: 200}}
    on:introend={next}>
    {texts[currentEl]}
  </div>
{/if}

<style>
  .text {
    font-family: "Styrene A Web";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
</style>
