<script>
import { person } from "store";
</script>
<div class="person">
<img
      src={`./images/persons/${$person.image}`}
      alt={$person.name}
      class="personImage" />
    </div>
    <style>
        .person{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .personImage{
            width: 70vw;
        }
        @media (orientation: landscape) {
            .personImage {
                width: auto;
                height: 50vh;
  }
}
    </style>