<script>
  import {onMount} from 'svelte'
  import {fade, fly} from 'svelte/transition'
  import Icon from "./Icon.svelte";
  import Link from "assets/Link.svelte";
  import Chat from "assets/Chat.svelte";
  import Facebook from "assets/Facebook.svelte";
  import VK from "assets/VK.svelte";
  import Telegram from "assets/Telegram.svelte";
  import WhatsApp from "assets/WhatsApp.svelte";
  import {closeShare} from 'store'
  let isSocialVisivle = false;
  let isMounted = false
  onMount(()=>{
    isMounted = true;
  })
</script>
{#if isMounted}
<div class="share" transition:fly={{y:200, duration:400}}>
  <div class="title">Поделиться</div>
  <button class="shareButton copyButton">
    <div class="shareButtonText">Копировать ссылку</div>
    <Icon>
      <Link />
    </Icon>
  </button>
  {#if isSocialVisivle}
    <div class="social" transition:fade|local>
      <a
        href="https://www.facebook.com/sharer.php?src=sp&u=https%3A%2F%2Fyandex.ru%2Fdev%2Fshare%2F&utm_source=share2"
        target="_blank">
        <Icon>
          <Facebook />
        </Icon>
      </a>
      <a
        href="https://vk.com/share.php?url=https%3A%2F%2Fyandex.ru%2Fdev%2Fshare%2F&utm_source=share2"
        target="_blank">
        <Icon>
          <VK />
        </Icon>
      </a>
      <a
        href="https://api.whatsapp.com/send?text=https%3A%2F%2Fyandex.ru%2Fdev%2Fshare%2F&utm_source=share2"
        target="_blank">
        <Icon>
          <Telegram />
        </Icon>
      </a>
      <a
        href="https://t.me/share/url?url=https%3A%2F%2Fyandex.ru%2Fdev%2Fshare%2F&utm_source=share2"
        target="_blank">
        <Icon>
          <WhatsApp />
        </Icon>
      </a>
    </div>
  {:else}
    <button class="shareButton" on:click={() => (isSocialVisivle = true)}>
      <div class="shareButtonText">поделиться анимацией</div>
      <Icon>
        <Chat />
      </Icon>
    </button>
  {/if}
  <button class='closeButton' on:click={closeShare}>Закрыть</button>
</div>
{/if}
<style>
  button{
    cursor: pointer;
    border:none;
    outline:none;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-weight: 900;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    max-width: 360px;
    min-height: 56px;
  }
  .copyButton{
    margin-bottom: 16px;
  }
  .share {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 28px 28px 0px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
  }
  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 34px;
  }
  .shareButton {
    background: #fffcf7;
    
  }
  .shareButtonText {
    flex-grow: 1;
    text-align: center;
  }
  .social {
    display: flex;
    align-items: center;
    min-height: 56px;
  }
  .social a{
    margin: 1px 8px;
  }
  .closeButton{
    background: #B299F5;
    justify-content: center;
    margin-top: 36px;
    color: #FFFFFF;
  }
</style>
