<script>
  import { person, contentNode, isStickersOpen } from "store";
</script>

{#if $isStickersOpen}
  <div class="list">
    {#each $person.emojiList as { emoji, image, id }}
      <div class="sticker">
        <div class="emoji">{emoji}</div>
        <img
          src={`./images/persons/${$person.id}/${image}`}
          alt={id}
          on:click={() => contentNode.insertImage(`./images/persons/${$person.id}/${image}`)} />
      </div>
    {/each}

  </div>
{/if}

<style>
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
  }
  .sticker {
    position: relative;
    margin: 16px 16px;
  }
  .emoji {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>
