<script>
  import { fade, fly } from "svelte/transition";
  import ArrowDown from "assets/ArrowDown.svelte";
  import { PERSON_TYPES } from "store/constants";
  import {personType} from 'store'
  let isOpen = false;
  const toggle = () => (isOpen = !isOpen);
  const selectType = (type)=>{
      personType.select(type)
      toggle();
  }
</script>

<button class="button" on:click={toggle}>
  <div class="buttonText">{$personType}</div>
  <div class='arrow' class:isOpen><ArrowDown /></div>
</button>
{#if isOpen}
  <div class="optionsBg" on:click={toggle} transition:fade|local={{duration: 200}} />
  <div
    class="optionsContainer"
    transition:fly|local={{ y: 200, duration: 200 }}>
    <div class="options">
      {#each PERSON_TYPES as person}
        <button class="option" class:selected={$personType === person} on:click={()=>selectType(person)}>{person}</button>
      {/each}
    </div>
  </div>
{/if}

<style>
  .button {
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    width: 100%;
    max-width: 360px;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 24px;
    background: none;
    outline: none;
    font-family: "Styrene A Web";
  }
  .button:active {
    background: none;
  }
  .buttonText {
    width: 100%;
  }
  .optionsBg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
  }
  .optionsContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 24px;
    z-index: 3;
  }
  .options {
    background: #ffffff;
    border-radius: 28px;
    padding: 16px;
    width: 100%;
  }
  .option {
    background: none;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #000000;
    padding: 16px;
  }
  .option:active {
    background: none;
  }
  .selected{
      color: #FF644E;
  }
  .arrow{
      transition: transform 0.2s;
  }
  .isOpen{
      transform: rotate(180deg);
  }
</style>
