<script>
  import Carousel from "@beyonk/svelte-carousel";
  import { PERSONS } from "store/constants";
  import { personType, personIndex } from "store";

  $: personList = PERSONS[$personType];
</script>

<div class="container">
  {#each '_' as _ ($personType)}
    <div class="carouselWrapper">

      <Carousel
        perPage={1}
        dots={false}
        loop={false}
        controls={false}
        on:change={({ detail: { currentSlide } }) => personIndex.set(currentSlide)}>
        {#each personList as person, i}
          <div class="person">
            <div class="circleContainer">
              <div class="circle" class:circleSelected={$personIndex === i} />
            </div>
            <img
              src={`./images/persons/${person.image}`}
              alt={person.name}
              class="personImage" />
            <div class="personName">{person.name}</div>
          </div>
        {/each}
      </Carousel>

    </div>
  {/each}
  
</div>

<style>
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .container :global(.slides) {
    overflow: visible !important;
  }
  .carouselWrapper {
    width: 200px;
    max-width: 200px;
    overflow: visible;
  }
  .person {
    width: 200px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .personName {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
  }
  .circleContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle {
    border-radius: 50%;
    min-width: 160px;
    min-height: 160px;
    background: #d9cdbc;
    transition: background-color 0.2s ease-in-out;
  }
  .circleSelected {
    background: #b299f5;
  }
  .personImage {
    position: absolute;
    top: 0;
    left: 0;
  }

</style>
