<svg width="16" height="16" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
  <path
    d="m75 512h167v-182h-60v-60h60v-75c0-41.355469 33.644531-75
    75-75h75v60h-60c-16.542969 0-30 13.457031-30 30v60h87.292969l-10
    60h-77.292969v182h135c41.355469 0 75-33.644531
    75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75
    75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45
    45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45
    45h-105v-122h72.707031l20-120h-92.707031v-30h90v-120h-105c-57.898438 0-105
    47.101562-105 105v45h-60v120h60v122h-137c-24.8125 0-45-20.1875-45-45zm0 0" />
</svg>

<style>
    path{
      fill: white;
    }
  </style>