<svg width="16" height="16" viewBox="0 0 512 512">

  <path
    d="M337.235,195.975c-2.97-3.82-5.94-8.06-9.55-11.67c-3.6-3.6-7.63-6.78-11.45-9.75l-43.49,43.48
    c4.46,2.34,8.7,4.88,12.52,8.7c17.6,17.61,17.6,46.03,0,63.64l-148.5,148.49c-17.6,17.61-46.03,17.61-63.64,0
    c-17.6-17.6-17.6-46.03,0-63.64l58.55-58.54c-10.81-22.7-15.06-48.16-12.3-72.55l-88.67,88.67
    c-40.94,40.94-40.94,107.55,0,148.49s107.55,40.94,148.49,0l148.49-148.49c37.6-37.6,39.99-96.74,9.76-137.04L337.235,195.975z" />
  <path
    d="M481.295,30.705c-40.95-40.94-107.56-40.94-148.5,0l-153.6,153.6c-37.61,37.61-39.98,96.75-9.76,137.04l0.21-0.21
    c2.97,3.82,5.94,8.06,9.55,11.67c3.61,3.6,7.64,6.79,11.46,9.75l43.48-43.48c-4.45-2.34-8.7-4.88-12.51-8.7
    c-17.61-17.61-17.61-46.03,0-63.64l153.6-153.6c17.61-17.61,46.03-17.61,63.64,0c17.61,17.61,17.61,46.03,0,63.64l-63.66,63.66
    c10.82,22.7,15.06,48.15,12.3,72.55l93.79-93.79C522.235,138.255,522.235,71.645,481.295,30.705z" />

</svg>

<style>
  path{
    fill: white;
  }
</style>