<svg
  width="26"
  height="26"
  viewBox="0 0 26 26"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <mask
    id="path-1-outside-1"
    maskUnits="userSpaceOnUse"
    x="0.37207"
    y="-0.0128784"
    width="26"
    height="26"
    fill="black">
    <rect fill="white" x="0.37207" y="-0.0128784" width="26" height="26" />
    <path
      d="M25.0183 13.0079C25.036 12.9848 25.0525 12.9622 25.0663 12.936C25.0817
      12.9076 25.0929 12.8788 25.1032 12.8484C25.109 12.8319 25.119 12.818
      25.1232 12.8007C25.1259 12.7896 25.1236 12.778 25.1252 12.7665C25.1302
      12.7361 25.1305 12.7058 25.1305 12.6743C25.1305 12.6427 25.1294 12.6124
      25.124 12.5816C25.1221 12.5705 25.1244 12.5597 25.1217 12.5493C25.1175
      12.532 25.1071 12.5186 25.1013 12.5021C25.0906 12.4705 25.0786 12.4409
      25.0629 12.4121C25.049 12.3883 25.0333 12.3671 25.0164 12.3456C24.9964
      12.3202 24.976 12.2968 24.9522 12.2753C24.9299 12.2553 24.9053 12.2391
      24.8795 12.2234C24.8634 12.2134 24.8511 12.1988 24.8334 12.1903L2.15496
      1.04329C1.95047 0.941816 1.7037 0.980254 1.5388 1.139C1.3739 1.29775
      1.32585 1.5426 1.41925 1.75209L6.28474 12.69L1.79479 24.0089C1.71484
      24.2111 1.76327 24.4409 1.91587 24.5935C1.92241 24.6001 1.92856 24.6062
      1.93548 24.6124C2.10383 24.7646 2.3483 24.7961 2.54971 24.6923L24.8438
      13.1609C24.8595 13.1528 24.8707 13.1394 24.8853 13.1294C24.9114 13.1125
      24.9357 13.0952 24.9583 13.074C24.9806 13.0533 24.9998 13.0317 25.0183
      13.0079ZM3.02212 2.67999L22.2561 12.1338L7.22763 12.1338L3.02212
      2.67999ZM3.34115 23.0583L7.24339 13.2212L22.3599 13.2209L3.34115 23.0583Z" />
  </mask>
  <path
    d="M25.0183 13.0079C25.036 12.9848 25.0525 12.9622 25.0663 12.936C25.0817
    12.9076 25.0929 12.8788 25.1032 12.8484C25.109 12.8319 25.119 12.818 25.1232
    12.8007C25.1259 12.7896 25.1236 12.778 25.1252 12.7665C25.1302 12.7361
    25.1305 12.7058 25.1305 12.6743C25.1305 12.6427 25.1294 12.6124 25.124
    12.5816C25.1221 12.5705 25.1244 12.5597 25.1217 12.5493C25.1175 12.532
    25.1071 12.5186 25.1013 12.5021C25.0906 12.4705 25.0786 12.4409 25.0629
    12.4121C25.049 12.3883 25.0333 12.3671 25.0164 12.3456C24.9964 12.3202
    24.976 12.2968 24.9522 12.2753C24.9299 12.2553 24.9053 12.2391 24.8795
    12.2234C24.8634 12.2134 24.8511 12.1988 24.8334 12.1903L2.15496
    1.04329C1.95047 0.941816 1.7037 0.980254 1.5388 1.139C1.3739 1.29775 1.32585
    1.5426 1.41925 1.75209L6.28474 12.69L1.79479 24.0089C1.71484 24.2111 1.76327
    24.4409 1.91587 24.5935C1.92241 24.6001 1.92856 24.6062 1.93548
    24.6124C2.10383 24.7646 2.3483 24.7961 2.54971 24.6923L24.8438
    13.1609C24.8595 13.1528 24.8707 13.1394 24.8853 13.1294C24.9114 13.1125
    24.9357 13.0952 24.9583 13.074C24.9806 13.0533 24.9998 13.0317 25.0183
    13.0079ZM3.02212 2.67999L22.2561 12.1338L7.22763 12.1338L3.02212
    2.67999ZM3.34115 23.0583L7.24339 13.2212L22.3599 13.2209L3.34115 23.0583Z"
    fill="white" />
  <path
    d="M25.0183 13.0079C25.036 12.9848 25.0525 12.9622 25.0663 12.936C25.0817
    12.9076 25.0929 12.8788 25.1032 12.8484C25.109 12.8319 25.119 12.818 25.1232
    12.8007C25.1259 12.7896 25.1236 12.778 25.1252 12.7665C25.1302 12.7361
    25.1305 12.7058 25.1305 12.6743C25.1305 12.6427 25.1294 12.6124 25.124
    12.5816C25.1221 12.5705 25.1244 12.5597 25.1217 12.5493C25.1175 12.532
    25.1071 12.5186 25.1013 12.5021C25.0906 12.4705 25.0786 12.4409 25.0629
    12.4121C25.049 12.3883 25.0333 12.3671 25.0164 12.3456C24.9964 12.3202
    24.976 12.2968 24.9522 12.2753C24.9299 12.2553 24.9053 12.2391 24.8795
    12.2234C24.8634 12.2134 24.8511 12.1988 24.8334 12.1903L2.15496
    1.04329C1.95047 0.941816 1.7037 0.980254 1.5388 1.139C1.3739 1.29775 1.32585
    1.5426 1.41925 1.75209L6.28474 12.69L1.79479 24.0089C1.71484 24.2111 1.76327
    24.4409 1.91587 24.5935C1.92241 24.6001 1.92856 24.6062 1.93548
    24.6124C2.10383 24.7646 2.3483 24.7961 2.54971 24.6923L24.8438
    13.1609C24.8595 13.1528 24.8707 13.1394 24.8853 13.1294C24.9114 13.1125
    24.9357 13.0952 24.9583 13.074C24.9806 13.0533 24.9998 13.0317 25.0183
    13.0079ZM3.02212 2.67999L22.2561 12.1338L7.22763 12.1338L3.02212
    2.67999ZM3.34115 23.0583L7.24339 13.2212L22.3599 13.2209L3.34115 23.0583Z"
    stroke="white"
    mask="url(#path-1-outside-1)" />
</svg>
<style>
  svg{
    transform: translateX(2px);
  }
</style>
