<svg width="16" height="16" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
  <path
    d="m123.832031 475.464844c39.558594 23.804687 84.789063 36.351562 131.261719
    36.351562 140.824219 0 256.90625-114.914062 256.90625-255.910156
    0-140.832031-115.917969-255.90625-256.90625-255.90625-140.558594
    0-254.910156 114.800781-254.910156 255.90625 0 47.09375 12.550781 92.667969
    36.351562 132.257812l-36.535156
    123.835938zm-93.65625-219.558594c0-124.570312 100.898438-225.917969
    224.917969-225.917969 125.121094 0 226.917969 101.347657 226.917969
    225.917969 0 124.574219-101.796875 225.917969-226.917969
    225.917969-43.054688
    0-84.894531-12.195313-120.984375-35.273438l-5.765625-3.683593-83.988281
    24.78125
    24.777343-83.992188-3.683593-5.761719c-23.078125-36.097656-35.273438-78.277343-35.273438-121.988281zm0
    0" />
  <path
    d="m124.628906 208.753906c4.953125 26.011719 19.65625 76.042969 62.464844
    118.851563 42.808594 42.808593 92.839844 57.515625 118.855469 62.46875
    29.789062 5.671875 73.503906 6.527343
    94.867187-14.835938l11.910156-11.910156c6.011719-6.011719 9.324219-14.007813
    9.324219-22.511719s-3.3125-16.496094-9.324219-22.507812l-47.628906-47.628906c-6.015625-6.015626-14.007812-9.324219-22.511718-9.324219-8.503907
    0-16.496094 3.308593-22.511719 9.324219l-11.90625 11.90625c-7.273438
    7.273437-21.003907
    7.304687-28.332031.089843l-47.507813-49.5c-.070313-.074219-.140625-.148437-.214844-.21875-7.285156-7.285156-7.285156-19.140625
    0-26.425781l11.90625-11.90625c12.445313-12.445312 12.445313-32.582031
    0-45.023438l-47.628906-47.628906c-12.410156-12.410156-32.605469-12.410156-45.019531
    0l-11.90625 11.910156v-.003906c-17.050782 17.054688-22.734375
    53.40625-14.835938 94.875zm36.042969-73.664062c12.5-12.214844
    11.832031-12.449219 13.210937-12.449219.472657 0 .945313.179687
    1.304688.539063 50.1875 50.457031 48.171875 47.492187 48.171875 48.9375 0
    .503906-.183594.945312-.539063 1.304687l-11.910156 11.90625c-18.964844
    18.964844-19.039062 49.664063-.121094 68.714844l47.535157
    49.53125c.074219.070312.144531.144531.21875.21875 18.960937 18.960937
    51.808593 19.023437 70.832031 0l11.90625-11.90625c.71875-.71875
    1.890625-.71875 2.609375 0 50.1875 50.453125 48.171875 47.488281 48.171875
    48.933593 0 .507813-.183594.945313-.539062 1.304688l-11.910157
    11.90625c-8.160156 8.160156-34.152343 13.042969-68.054687
    6.585938-22.625-4.3125-66.128906-17.085938-103.257813-54.214844-37.128906-37.128906-49.902343-80.632813-54.210937-103.257813-6.460938-33.902343-1.578125-59.898437
    6.582031-68.054687zm0 0" />
</svg>

<style>
    path{
      fill: white;
    }
  </style>