<script>
  import { view } from "./store";
  import { SELECT_PERSON, TEXT } from "./store/constants.js";
  import SelectPerson from "./views/SelectPerson/Index.svelte";
  import Text from "./views/Text/Index.svelte";
  const views = {
    [SELECT_PERSON]: SelectPerson,
    [TEXT]: Text,
  };
  
</script>

<svelte:component this={views[$view]} />

<svelte:head>
  <style>
    html {
      overflow: hidden;
      width: 100%;
    }

    body {
      position: fixed;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      margin: 0;
    }
  </style>
</svelte:head>

<style>
  :global(body) {
	-webkit-overflow-scrolling : touch;
    overflow: auto;
    height: 100%;
    
  }
  :global(html) {
	-webkit-overflow-scrolling : touch;
    overflow: auto;
    height: 100%;
    
  }
</style>
